@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  font-family: 'JetBrains Mono', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: burlywood;
  color: black;
}

.modal-dialog{
  width: max-content;
}

#app{
  width: 100%;
  min-height: 800px;
}

.icon * {
  margin: 0;
}

.tab-content{
  max-width: 1500px;
}

.tab-content > *{
  width: fit-content;
}

.ativo {
  display: inline-block;
  background-color: burlywood;
  cursor: default;
}

:root{
  --bs-link-color: white;
  --bs-link-hover-color: brown;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control:focus {
  background-color: #FDEAAB !important;
  border: none !important;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3) !important;
  padding: 8px !important;
  border-radius: 8px !important;
  width: 100% !important;
  outline: none !important;
}

.btn{
  color: black;
}

.btn-primary {
  --bs-btn-color: black;
  --bs-btn-bg: burlywood;
  --bs-btn-border-color: burlywood;
  --bs-btn-hover-color: rgb(69, 69, 69);
  --bs-btn-hover-bg: rgb(240, 210, 170);
  --bs-btn-hover-border-color: rgb(240, 210, 170);
  --bs-btn-active-border-color: burlywood;
  --bs-btn-active-bg: burlywood;
  --bs-btn-active-color: black;
}

.nav-pills{
  --bs-nav-pills-link-active-color: black;
  --bs-nav-pills-link-active-bg: burlywood;
}

.nav-link:hover{
  background-color: white;
}

.all-content{
  min-width: 1800px;
  min-height: 700px;
}

.flex-grow{
  flex-grow: 1;
}

.center{
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  padding: 20px;
  background-color: brown;
  border-radius: 10px;
  gap: 15px;
  border-radius: 25px;
  background-color: brown;
  padding-top: 20px;
  padding-bottom: 20px;
}

table td a {
  color: black;
}

.navbar a {
  color: black;
}

.navbar .icon {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 23px;
  font-weight: 100;
  font-style: italic;
  padding: 12px;
}

.icon h2 {
  margin: 0 !important;
  display: block;
  width: 100%;
}

.canhoto {
  margin: 50px;
}

.fundo-canhoto {
  background-color: white;
  border-radius: 25px;
}

.fundo-canhoto h4 {
  margin: 15px;
}

a {
  text-decoration: none;
}

.icon:hover:not(.ativo) {
  background-color: #eee;
}

.icon:hover:not(.ativo){
  color: gray;
}

.icon:not(.ativo){
  cursor: pointer;
}

form .form-control,
.form-select,
.form-select:focus {
  background-color: #FDEAAB;
  border: none !important;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  outline: none !important;
}

.btn {
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 10px;
  cursor: pointer;
  margin: 5px;
}

.buttons {
  margin-top: 30px;
}

.gap-5 {
  gap: 5px;
}

#app {
  padding: 60px;
}

/* paginação */

.pagination {
  float: right;
}

.pagination li a {
  border: none;
  font-size: 15px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background-color: rgb(248, 2, 2);
}

.pagination li.active a:hover {
  background-color: rgb(228, 2, 2);
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 15px;
}