body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: burlywood;
  color: black;
}

.icon * {
  margin: 0;
}

.ativo {
  display: inline-block;
  background-color: burlywood;
  cursor: default;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  border-radius: 10px;
  gap: 15px;
}

.navbar a {
  color: black;
}

.info {
  /* margin-top: 40px; */
  border-radius: 25px;
  background-color: brown;
}

.navbar .icon {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 23px;
  font-weight: 100;
  font-style: italic;
  padding: 12px;
}

.icon h2 {
  margin: 0 !important;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.icon:hover:not(.ativo) {
  background-color: #eee;
}

.icon:hover:not(.ativo){
  color: gray;
}

.icon:not(.ativo){
  cursor: pointer;
}

.container form .form-control,
.form-select,
.form-select:focus {
  background-color: #FDEAAB;
  border: none !important;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  outline: none !important;
}

.btn {
  color: #fff;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 10px;
  cursor: pointer;
  margin: 5px;
}

.buttons {
  margin-top: 40px;
}

.gap-5 {
  gap: 5px;
}

#app {
  padding: 60px;
}